---
import Main from "../../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import GraphComponent from "../../components/Graph.astro";
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION} footerFixed={true}>
  <div class="graph-wrapper">
    <GraphComponent padding={90} />
  </div>
</Main>
<style>
  .graph-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--nord5);
  }
</style>
