/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
    /* Nord Color Scheme */
    --nord0-polar-night: #2e3440;
    --nord1-polar-night: #3b4252;
    --nord3-polar-night: #4c566a;
    --nord4-snow-storm: #d8dee9;
    --nord5-snow-storm: #e5e9f0;
    --nord8-frost: #88c0d0;
    --nord9-frost: #81a1c1;
    --nord10-frost: #5e81ac;
    --nord11-aurora: #bf616a;
    --nord12-aurora: #d08770;
    --nord13-aurora: #ebcb8b;
    --nord14-aurora: #a3be8c;

    /* Neobrutalism Shadows using --nord3-polar-night variable */
    /* Apply consistent rectangular offset shadows used across components */
    --shadow-2: 4px 4px 0px 0px var(--nord3-polar-night);
    --shadow-4: 6px 6px 0px 0px var(--nord3-polar-night);
    --shadow-6: 8px 8px 0px 0px var(--nord3-polar-night);
    --shadow-8: 10px 10px 0px 0px var(--nord3-polar-night);
}

@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Atkinson", sans-serif;
    color: #fff;
    position: relative;
    background: var(--nord0-polar-night);
    color: var(--nord4-snow-storm);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 20px;
    line-height: 1.7;

    /* Memory efficient starry background */
    background-image:
        radial-gradient(
            0.7px 0.7px at 3% 12%,
            var(--nord14-aurora) 90%,
            transparent 100%
        ),
        radial-gradient(
            1.6px 1.6px at 15% 35%,
            var(--nord13-aurora) 90%,
            transparent 100%
        ),
        radial-gradient(
            1.2px 1.2px at 28% 20%,
            var(--nord8-frost) 90%,
            transparent 100%
        ),
        radial-gradient(
            1px 1px at 35% 75%,
            var(--nord4-snow-storm) 90%,
            transparent 100%
        ),
        radial-gradient(
            1.5px 1.5px at 50% 50%,
            var(--nord13-aurora) 90%,
            transparent 100%
        ),
        radial-gradient(
            1.3px 1.3px at 60% 10%,
            var(--nord14-aurora) 90%,
            transparent 100%
        ),
        radial-gradient(
            1px 1px at 70% 80%,
            var(--nord8-frost) 90%,
            transparent 100%
        ),
        radial-gradient(
            0.9px 0.9px at 85% 25%,
            var(--nord4-snow-storm) 90%,
            transparent 100%
        ),
        radial-gradient(
            1.4px 1.4px at 90% 55%,
            var(--nord13-aurora) 90%,
            transparent 100%
        ),
        radial-gradient(
            0.8px 0.8px at 95% 90%,
            var(--nord14-aurora) 90%,
            transparent 100%
        );
    background-repeat: repeat;
    background-size: 350px 350px;
    background-color: var(--nord0-polar-night);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 3.052em;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
h6 {
    font-size: 1em;
}
strong,
b {
    font-weight: 700;
}
a {
    color: var(--nord10);
}
a:hover {
    color: var(--nord10);
}
p {
    margin-bottom: 1em;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: var(--shadow-4);
}
code {
    padding: 2px 5px;
    background-color: var(--nord4-snow-storm);
    border-radius: 0;
    font-weight: normal;
    color: var(--nord0-polar-night);
    box-shadow: var(--shadow-2);
}
pre {
    padding: 1.5em;
    border-radius: 0;
    background-color: var(--nord3-polar-night);
    box-shadow: var(--shadow-4);
}
pre > code {
    all: unset;
    font-weight: normal;
    color: var(--nord4-snow-storm);
}
blockquote {
    border-left: 4px solid var(--nord10-frost);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
    background-color: transparent;
    color: var(--nord4-snow-storm);
    box-shadow: var(--shadow-2);
    border-radius: 0;
}
hr {
    border: none;
    border-top: 1px solid var(--nord4-snow-storm);
    box-shadow: var(--shadow-2);
    margin: 1em 0;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

.vis-tooltip {
    position: absolute;
    z-index: 4;
    background: var(--nord6);
    border: 1px solid var(--nord3);
    border-radius: 0.25rem;
    font-size: 0.875em;
    line-height: 1.2;
    padding: 0.25em 0.375em;
    max-width: 300px;
    text-align: justify;
}

@media (pointer: coarse) {
    .vis-tooltip {
        display: none;
    }
}
