.graph-container,
.graph {
    width: 100%;
    height: 50vh;
}

.controls {
    display: none;
}

@media (min-width: 1024px) {
    .graph-container,
    .graph {
        height: 100vh;
    }

    .controls {
        display: block;
    }
}
