---
import type { SerializedGraph } from "graphology-types";

interface Props {
  postSlug: string;
}

const { postSlug } = Astro.props;

const graphJson = await import("../pages/graph.json");
const { nodes, edges }: SerializedGraph = await graphJson
  .GET({})
  .then((response) => response.json());

const backlinks = edges.filter((edge) => edge.target === postSlug);
---

{
  backlinks.length > 0 && (
    <>
      <h5>Backlinks</h5>
      <ol class="backlinks">
        {backlinks.map((backlink) => {
          const referenceNode = nodes.find(
            (node) => backlink.source === node.key
          );
          return (
            <li class="backlink">
              <a
                href={`/notes/${backlink.source}/`}
                title={referenceNode?.attributes?.description}
              >
                {referenceNode?.attributes
                  ? referenceNode.attributes.label
                  : backlink.target}
              </a>
            </li>
          );
        })}
      </ol>
    </>
  )
}

<style>
  .backlink a {
    text-decoration: none;
    color: var(--nord0);
  }

  .backlink a:hover p {
    color: var(--nord10);
  }
</style>
