<div class="clouds">
    {
        Array(22)
            .fill(null)
            .map(() => <div class="cloud" />)
    }
</div>

<style>
    .clouds {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        border-radius: 50%;
        box-shadow: var(--shadow-6);
        z-index: 1;
        top: -200vh;
        width: 400vh;
        height: 400vh;
        z-index: 3;
    }

    .cloud {
        position: absolute;
        top: 0;
        left: 200vh;
        height: 180px;
        aspect-ratio: 1.8;
        background: var(--nord4-snow-storm);
        mask:
            radial-gradient(50% 50%, #000 98%, transparent) no-repeat 100%
                100% / 30% 60%,
            radial-gradient(50% 50%, #000 98%, transparent) no-repeat 70% 0 /
                50% 100%,
            radial-gradient(50% 50%, #000 98%, transparent) no-repeat 0 100% /
                36% 68%,
            radial-gradient(50% 50%, #000 98%, transparent) no-repeat 27% 18% /
                26% 40%,
            linear-gradient(#000 0 0) no-repeat bottom / 67% 58%;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2))
            drop-shadow(0 8px 10px rgba(0, 0, 0, 0.14))
            drop-shadow(0 3px 14px rgba(0, 0, 0, 0.12));
        animation: floatCloud 90s linear infinite;
        overflow: hidden;
        transform-origin: left bottom;
    }

    .cloud:nth-child(1) {
        top: 45vh;
        width: 150px;
        height: 60px;
        transform-origin: 0 155vh;
    }
    .cloud:nth-child(2) {
        top: 30vh;
        width: 200px;
        height: 80px;
        transform-origin: 0 170vh;
        animation-delay: -5s;
    }
    .cloud:nth-child(3) {
        top: 75vh;
        width: 180px;
        height: 70px;
        transform-origin: 0 125vh;
        animation-delay: -15s;
    }
    .cloud:nth-child(4) {
        top: 10vh;
        width: 160px;
        height: 65px;
        transform-origin: 0 190vh;
        animation-delay: -20s;
    }
    .cloud:nth-child(5) {
        top: 60vh;
        width: 140px;
        height: 55px;
        transform-origin: 0 140vh;
        animation-delay: -30s;
    }
    .cloud:nth-child(6) {
        top: 50vh;
        width: 190px;
        height: 75px;
        transform-origin: 0 150vh;
        animation-delay: -35s;
    }
    .cloud:nth-child(7) {
        top: 90vh;
        width: 130px;
        height: 50px;
        transform-origin: 0 110vh;
        animation-delay: -45s;
    }
    .cloud:nth-child(8) {
        top: 20vh;
        width: 155px;
        height: 62px;
        transform-origin: 0 180vh;
        animation-delay: -50s;
    }
    .cloud:nth-child(9) {
        top: 70vh;
        width: 120px;
        height: 48px;
        transform-origin: 0 130vh;
        animation-delay: -60s;
    }
    .cloud:nth-child(10) {
        top: 30vh;
        width: 170px;
        height: 68px;
        transform-origin: 0 130vh;
        animation-delay: -65s;
    }
    .cloud:nth-child(11) {
        top: 40vh;
        width: 150px;
        height: 60px;
        transform-origin: 0 130vh;
        animation-delay: -75s;
    }
    .cloud:nth-child(12) {
        top: 40vh;
        width: 170px;
        height: 68px;
        transform-origin: 0 160vh;
        animation-delay: -80s;
    }
    .cloud:nth-child(13) {
        top: 55vh;
        width: 140px;
        height: 60px;
        transform-origin: 0 145vh;
        animation-delay: -85s;
    }
    .cloud:nth-child(14) {
        top: 35vh;
        width: 160px;
        height: 65px;
        transform-origin: 0 155vh;
        animation-delay: -10s;
    }
    .cloud:nth-child(15) {
        top: 80vh;
        width: 130px;
        height: 50px;
        transform-origin: 0 115vh;
        animation-delay: -25s;
    }
    .cloud:nth-child(16) {
        top: 25vh;
        width: 150px;
        height: 62px;
        transform-origin: 0 175vh;
        animation-delay: -40s;
    }
    .cloud:nth-child(17) {
        top: 65vh;
        width: 180px;
        height: 70px;
        transform-origin: 0 135vh;
        animation-delay: -55s;
    }
    .cloud:nth-child(18) {
        top: 15vh;
        width: 170px;
        height: 68px;
        transform-origin: 0 185vh;
        animation-delay: -70s;
    }
    .cloud:nth-child(19) {
        top: 50vh;
        width: 140px;
        height: 58px;
        transform-origin: 0 150vh;
        animation-delay: -47s;
    }
    .cloud:nth-child(20) {
        top: 45vh;
        width: 160px;
        height: 65px;
        transform-origin: 0 160vh;
        animation-delay: -33s;
    }
    .cloud:nth-child(21) {
        top: 70vh;
        width: 120px;
        height: 48px;
        transform-origin: 0 130vh;
        animation-delay: -77s;
    }

    @keyframes floatCloud {
        0% {
            transform: rotate(-90deg);
        }
        50% {
            transform: rotate(-180deg);
        }
        100% {
            transform: rotate(-270deg);
        }
    }
</style>
