<div class="earth">
    <img src="/continents.svg" alt="earth's continents" />
</div>
<div class="atmosphere"></div>
<div class="clouds">
    <img class="cloudRing" src="/cloud-ring.svg" />
</div>

<style>
    .earth,
    .atmosphere,
    .clouds {
        position: absolute;
        left: 0;
        aspect-ratio: 1;
        transform: translateX(-50%);
        border-radius: 50%;
    }

    .earth,
    .atmosphere {
        overflow: hidden;
        box-shadow: var(--shadow-6);
        z-index: 1;
    }

    .earth {
        top: -35vh;
        background: var(--nord9-frost);
        width: 70vh;
        z-index: 2;
        box-shadow: var(--shadow-6);
    }

    .earth img {
        width: 100%;
        height: 100%;
        display: block;
        transform: rotate(15deg) translate(5%, 32%);
    }

    .atmosphere,
    .clouds {
        top: -50vh;
        width: 100vh;
        height: 100vh;
    }

    .atmosphere {
        background: var(--nord8-frost);
        z-index: 1;
        box-shadow: var(--shadow-8);
    }

    .clouds {
        z-index: 3;
        animation: floatClouds 24s linear infinite;
        transform-origin: center center;
    }

    .cloudRing {
        width: 100%;
        height: 100%;
        display: block;
    }

    @keyframes floatClouds {
        0% {
            transform: translateX(-50%) rotate(0deg);
        }
        100% {
            transform: translateX(-50%) rotate(360deg);
        }
    }
</style>
