<div class="earth earth--move">
    <img src="/earth-outline.png" alt="planet earth" />
</div>

<style>
    .earth {
        position: absolute;
        top: -96px;
        left: -96px;
        width: 512px;
        aspect-ratio: 1;
    }

    .earth img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: block;
        box-shadow: none;
        background: var(--nord0-polar-night);
    }

    .earth:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) rotate(0deg);
        content: "";
        border: var(--dashed-border10);
        border-width: 3px;
        border-radius: 50%;
        animation: 32s rotate linear infinite;
    }

    @animation rotate {
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
</style>
