<div class="earth">
    <img src="/earth.png" alt="planet earth" />
</div>

<style>
    .earth {
        position: absolute;
        top: -96px;
        left: -96px;
        width: 512px;
        aspect-ratio: 1;
        animation-timeline: scroll(root);
        animation-range: auto;
        animation-name: earthMove;
        animation-duration: 1.2s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }

    @keyframes earthMove {
        0% {
            left: -96px;
        }
        20% {
            left: -100vw;
        }
    }

    .earth img {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: block;
        box-shadow: none;
        border-width: 2px;
    }
</style>
