<div class="earth earth--move">
    <img src="/earth.png" alt="planet earth" />
</div>

<style>
    .earth {
        position: absolute;
        top: -96px;
        left: -96px;
        width: 512px;
        aspect-ratio: 1;
    }

    .earth img {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: block;
        box-shadow: none;
        border-width: 2px;
        box-shadow: var(--shadow-4);
    }
</style>
