---
import NetworkGraph from "./NetworkGraph";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());
---

<div class="controls-wrapper">
  <div id="tap-to-unlock" class="tap-to-unlock visible">
    Tap to unlock the graph
  </div>
  <button id="lock-graph" class="lock-graph"> Lock graph </button>
  <div id="graph-wrapper" class="graph-wrapper">
    <span class="zoom-control-text">Hold Ctrl + Scroll to Zoom</span>

    <NetworkGraph graphData={graphData} client:idle transition:persist />
  </div>
</div>

<style>
  main {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .graph-wrapper {
    width: 100%;
    height: 100svh;
    position: relative;
  }

  .lock-graph {
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    z-index: 2;
    display: none;
    font-family: "IBM Plex Mono", monospace;
    border: 0;
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--nord4-snow-storm);
  }

  .zoom-control-text {
    font-family: "IBM Plex Mono", monospace;
    position: absolute;
    bottom: 0;
    left: 1rem;
    pointer-events: none;
    display: none;
  }

  .tap-to-unlock {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100svh;
    background: #2e344090;
    font-family: "IBM Plex Mono", monospace;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .visible {
    display: flex;
  }

  .controls-wrapper {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 768px) {
    .tap-to-unlock {
      height: 100vh;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .zoom-control-text {
      display: block;
    }

    .tap-to-unlock {
      display: none;
    }

    .lock-graph {
      display: none;
    }
  }
</style>

<script type="module" is:inline data-astro-rerun>
  (() => {
    function onUnlock(overlay, button) {
      overlay?.classList.toggle("visible");
      button?.classList.toggle("visible");
    }

    function init() {
      const tapToUnlock = document.getElementById("tap-to-unlock");
      const lockGraph = document.getElementById("lock-graph");

      [tapToUnlock, lockGraph].forEach((element) =>
        element.addEventListener("click", () =>
          onUnlock(tapToUnlock, lockGraph),
        ),
      );
    }
    init();
  })();
</script>
