---
// import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
    <nav>
        <div class="title">
            <h2><a href="/">{SITE_TITLE}</a></h2>
        </div>
        <div class="internal-links">
            <!-- <HeaderLink href="/about">About</HeaderLink> -->
        </div>
    </nav>
</header>
<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        z-index: 999;
        backdrop-filter: blur(1px);
        color: var(--nord4-snow-storm);
    }

    h2 {
        margin: 0 0 0 3rem;
        font-size: 2rem;
        line-height: 1;
        font-weight: normal;
    }
    h2 a [margin: 0;] h2 a,
    h2 a.active {
        text-decoration: none;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        margin: auto;
    }
    nav a {
        color: var(--nord0);
        text-decoration: none;
        pointer-events: initial;
    }
    nav a.active {
        text-decoration: none;
        color: var(--nord10);
    }
</style>
