---
// import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import logo from "../favicon_192.png";
---

<header transition:animate="none">
  <nav>
    <div class="title">
      <Image src={logo} alt="P and K letters" />
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="internal-links">
      <!-- <HeaderLink href="/about">About</HeaderLink> -->
    </div>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: var(--header-height);
    background: var(--nord6);
    pointer-events: none;
    grid-area: header;
    box-shadow: rgba(216, 222, 233, 0.15) 0px 5px 10px 0px;
  }

  h2 {
    position: relative;
    top: 2px;
    margin: 0;
    font-size: 1.5em;
  }
  h2 a [margin: 0;] h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  nav a {
    color: var(--nord0);
    text-decoration: none;
    pointer-events: initial;
  }
  nav a.active {
    text-decoration: none;
    color: var(--nord10);
  }

  nav img {
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 41px;
    margin-left: 0.5em;
  }
</style>
