---
import { Image } from "astro:assets";

import tsLogo from "/public/ts-logo.svg";
import reactLogo from "/public/react-logo.svg";
import astroLogo from "/public/astro-logo.svg";

interface Props {
  title?: string;
}

const { title = "Skills" } = Astro.props;
---

<div class="orbit-system">
  <div class="orbit-circle orbit-circle-1"></div>
  <div class="orbit-circle orbit-circle-2"></div>
  <div class="orbit-circle orbit-circle-3"></div>
  <div class="orbit-circle orbit-circle-4"></div>
  <div class="orbit-circle orbit-circle-5"></div>
  <div class="orbit-circle orbit-circle-6"></div>

  <h2 class="orbit-center">{title}</h2>

  <div class="orbiting-item orbit-1 orbiting-text" style="--orbit-r: 15vmin">
    TypeScript
  </div>
  <div class="orbiting-item orbit-2 orbiting-text" style="--orbit-r: 30vmin">
    React
  </div>
  <div class="orbiting-item orbit-3 orbiting-text" style="--orbit-r: 40vmin">
    Astro
  </div>
  <div class="orbiting-item orbit-4 orbiting-text" style="--orbit-r: 23.35vmin">
    Svelte
  </div>
  <div class="orbiting-item orbit-5 orbiting-text" style="--orbit-r: 35vmin">
    Next.js
  </div>
  <div class="orbiting-item orbit-6 orbiting-text" style="--orbit-r: 45vmin">
    CSS
  </div>
</div>

<style>
  :root {
    --item-size: 5vmin;
  }

  .orbit-system {
    position: absolute;
    width: 120vmin;
    height: 120vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
  }

  .orbit-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid var(--nord14-aurora);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .orbit-circle-1 {
    width: 30vmin;
    height: 30vmin;
  }
  .orbit-circle-2 {
    width: 60vmin;
    height: 60vmin;
  }
  .orbit-circle-3 {
    width: 80vmin;
    height: 80vmin;
  }
  .orbit-circle-4 {
    width: 46.7vmin;
    height: 46.7vmin;
  }
  .orbit-circle-5 {
    width: 70vmin;
    height: 70vmin;
  }
  .orbit-circle-6 {
    width: 90vmin;
    height: 90vmin;
  }

  .orbit-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    margin: 0;
    font-size: 1.5rem;
  }

  .orbiting-item {
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    top: 50%;
    left: 50%;
    z-index: 5;
  }

  .orbiting-text {
    color: var(--nord14-aurora);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "IBM Plex Mono", monospace;
    text-shadow: 0 0 5px rgba(163, 190, 140, 0.5);
    width: var(--item-size);
    height: var(--item-size);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .orbit-1,
  .orbit-2,
  .orbit-3,
  .orbit-4,
  .orbit-5,
  .orbit-6 {
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .orbit-1 {
    animation-name: orbit-1;
  }
  .orbit-2 {
    animation-name: orbit-2;
  }
  .orbit-3 {
    animation-name: orbit-3;
  }
  .orbit-4 {
    animation-name: orbit-4;
  }
  .orbit-5 {
    animation-name: orbit-5;
  }
  .orbit-6 {
    animation-name: orbit-6;
  }

  @keyframes orbit-1 {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translateX(var(--orbit-r))
        rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translateX(var(--orbit-r))
        rotate(-360deg);
    }
  }

  @keyframes orbit-2 {
    from {
      transform: translate(-50%, -50%) rotate(120deg) translateX(var(--orbit-r))
        rotate(-120deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(480deg) translateX(var(--orbit-r))
        rotate(-480deg);
    }
  }

  @keyframes orbit-3 {
    from {
      transform: translate(-50%, -50%) rotate(240deg) translateX(var(--orbit-r))
        rotate(-240deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(600deg) translateX(var(--orbit-r))
        rotate(-600deg);
    }
  }

  @keyframes orbit-4 {
    from {
      transform: translate(-50%, -50%) rotate(60deg) translateX(var(--orbit-r))
        rotate(-60deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(420deg) translateX(var(--orbit-r))
        rotate(-420deg);
    }
  }

  @keyframes orbit-5 {
    from {
      transform: translate(-50%, -50%) rotate(180deg) translateX(var(--orbit-r))
        rotate(-180deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(540deg) translateX(var(--orbit-r))
        rotate(-540deg);
    }
  }

  @keyframes orbit-6 {
    from {
      transform: translate(-50%, -50%) rotate(300deg) translateX(var(--orbit-r))
        rotate(-300deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(660deg) translateX(var(--orbit-r))
        rotate(-660deg);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .orbit-1,
    .orbit-2,
    .orbit-3,
    .orbit-4,
    .orbit-5,
    .orbit-6 {
      animation: none !important;
    }
  }
</style>
