---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import NetworkGraph from "../components/NetworkGraph";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());

interface Props {
  title: string;
  description: string;
  isGraphSmall?: boolean;
}

const { title, description } = Astro.props;
const today = new Date();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style></style>
