---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GraphComponent from "../components/GraphComponent";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());

interface Props {
  title: string;
  description: string;
  isGraphSmall?: boolean;
}

const { title, description, isGraphSmall } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body>
    <main>
      <Header />
      <article>
        <slot />
      </article>
      <Footer />
    </main>
    <div class="graph-wrapper">
      <GraphComponent
        data={graphData}
        client:only="react"
        transition:persist="graph"
        isSmall={isGraphSmall}
      />
    </div>
  </body>
</html>

<style>
  @keyframes reveal {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  .graph-wrapper {
    width: 100%;
    height: 50vh;
    animation: reveal forwards ease-in-out 250ms;
    border-top: 1px dashed var(--nord10);
  }

  @media (min-width: 1024px) {
    body {
      flex-direction: row;
    }

    main {
      max-width: 512px;
      margin: 0 0 auto;
    }

    .graph-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100% - 513px);
      height: 100vh;
      border-top: unset;
      border-left: 1px dashed var(--nord10);
    }
  }

  @media (min-width: 1200px) {
    main {
      max-width: 600px;
    }

    .graph-wrapper {
      width: calc(100% - 601px);
    }
  }

  @media (min-width: 1440px) {
    main {
      max-width: 720px;
    }

    .graph-wrapper {
      width: calc(100% - 721px);
    }
  }
</style>
