---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GraphComponent from "../components/GraphComponent";

const graph = await import("../pages/graph.json");
const graphData = await graph.GET({}).then((response) => response.json());
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />

    <style>
      article {
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <Header />
    <GraphComponent
      data={graphData}
      client:only="react"
      transition:persist="graph"
    />
    <main>
      <article>
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
