---
import Main from "./Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GraphWrapper from "src/components/GraphWrapper.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Main title={title} description={description}>
  <main>
    <Header />
    <slot />
  </main>

  <GraphWrapper />
  <Footer />
</Main>
